--extra-index-url https://download.pytorch.org/whl/cpu

torch==2.8.0+cpu; sys_platform == "linux"
torch==2.8.0; sys_platform == "darwin" or sys_platform == "win32"
transformers==4.57.1
huggingface-hub==0.36.0
numpy==2.2.6
pillow==11.3.0
safetensors==0.8.0
tokenizers==0.22.2
